/*RESET DE ESTILOS*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET DE ESTILOS*/


*{box-sizing: border-box;}
a:link, a:visited, a:active {
    text-decoration:none;
}

body{
  font-family: 'Roboto', sans-serif;
}
header{
  background-color: #F8E2C3;
  text-align: center;
}
header img{
	margin: 2em;
	max-height: 320px;
}
#galeria{
  margin: 4em 2em;
  text-align: center;
}
.miniatura{
  float: left;
  border: 1px solid #DDD;
  width: 50%;
  height: auto;
}
#galeria:after{
	/*Crea un objeto vacío por CSS para romper el float*/
	clear: both;
	content: "";
	display: block;
}
#muchosmas{
  text-align: center;
}
#muchosmas span{
  font-family: 'Gochi Hand', cursive;
  color: #7ACAB5;
  font-size: 2em;
}
#muchosmas img{
	vertical-align: middle;
}
#sombra{
	height: 200px;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 30%);
}
#cocodroloescondido{
	position: absolute;
	right: 20%;
}
#cualidades, #servicios{
  background-color: #FDF6ED;
}
#servicios{
	height: 610px;
	background: #FDF6ED url(../imagenes/servicios.svg) no-repeat center;
	background-size: cover;
}
footer{
  color: white;
  background-color: #7ACAB5;
  text-align: center;
  padding: 0.7em;
}
footer div{
  padding: 0.4em;
}
footer img{
  border-radius: 5em;
  padding: 0.2em;
}
