/*Para que el borde no cuente en el tamaño de las cajas*/
*{box-sizing: border-box;}

a:link, a:visited, a:active {
    text-decoration:none;
}

body{
  font-family: 'Roboto', sans-serif;
}
header{
  background-color: #F8E2C3;
  text-align: center;
}
header video{
	width: 100%;
	max-height: 480px;
}

#galeria{
  margin: 4em 2em;
  text-align: center;
}
/*Crear un objeto vacío por CSS para romper el float de la galeria*/
#galeria:after{
	clear: both;
	content: "";
	display: block;
}
.miniatura{
  float: left;
  border: 1px solid #DDD;
	position: relative;
  width: 50%;
}
/* Dispositivos medianos (tablets en horizontal, 768px y superiores) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
	#galeria{
	  margin: 4em 4em;
	}
	.miniatura{
    width: 33%;
  }
}
/* Dispositivos grandes (portátiles y sobremesa, 992px y superiores) */
@media only screen and (min-width: 992px) {
	#galeria{
	  margin: 4em 8em;
	}
}
/* Dispositivos muy grandes (portátiles y sobremesa grandes, y superiores) */
@media only screen and (min-width: 1200px){
  .miniatura{
    width: 25%;
  }
	#galeria{
		margin: 4em 12em;
	}
}

/*Para que las miniaturas sean siempre cuadradas*/
.miniatura:after{
	content: "";
	display: block;
	padding-bottom: 100%;
}
.miniaturacontenido{
	position: absolute;
	width: 100%;
	height: 100%;
}
.miniaturacontenido img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .miniaturacontenido img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

#muchosmas{
  text-align: center;
}
#muchosmas span{
  font-family: 'Gochi Hand', cursive;
  color: #7ACAB5;
  font-size: 2.5em;
}
#muchosmas img{
	vertical-align: middle;
	width: 4em;
}
#cocodroloescondido{
	position: relative;
	height: 9em;
}
#cocodroloescondido img{
	height: 12em;
	position: absolute;
	right: 20%;
	bottom: -3em;
}
#sombra{
	height: 3em;
	background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}
#cualidades, #servicios{
  background-color: #FDF6ED;
	text-align: center;
}
#cualidades img{
	max-width: 1600px;
}
/* Dispositivos muy grandes (portátiles y sobremesa grandes, y superiores) */
@media only screen and (min-width: 1200px){
	#servicios{
		max-height: 75em;
		Overflow :hidden;
	}
}
footer{
  color: white;
  background-color: #7ACAB5;
  text-align: center;
  padding: 0.7em;
}
footer div{
  padding: 0.5em;
}
footer img{
  border-radius: 5em;
	margin: 0.5em;
}
#copyright{
	font-size: 2em;
}
/* Dispositivos medianos (tablets en horizontal, 768px y superiores) */
@media only screen and (min-width: 768px){
	#copyright{
		font-size: 1em;
	}
	footer img{
	  border-radius: 50%;
		width: 3em;
		height: auto;
	}
}
