header{
  height: 5rem;
}
#bu{
  width: 8rem;
  height: 8rem;
  margin-left: 10%;
  border-radius: 5rem;
  background-color: #fbe3c1;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
}
#volver{
  position: sticky;
  top: 0rem;
  right: 1rem;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #fbe3c1;
}
#contenido{
  width: 100%;
  flex-flow: column;  
  text-align: center;
}
#contenido img{
  width: 100%;
  max-width: 37.5rem;
  margin: 0.2rem auto;
  display: block;
}
#contenido p{
  margin: 1rem 0rem 4rem 0rem;
}