/*GENERAL*/
body {
	text-align: center;
}
a{
	text-decoration:none; 
	color: #666; outline: none; 
	font-family:"Trebuchet MS", Helvetica, Arial, sans-serif;
}
p {margin: 1em 0em 5em 0em;}

/*CABECERA*/
.container-fluid {
	padding: 0px;
	background-color: #F2E1C3;
	padding: 0.8em 0em;
}
#animation_container {
	position:relative;
	left:0;right:0;
	margin:auto;
	width: 100%;	
}

/*LÍNEA*/
.linea{
	height: 0.3em;
	background-color: #47BABD;
	-webkit-box-shadow: 0em 0.5em 0.4em 0 #000000;
	box-shadow: 0em -0.2em 0.6em 0 rgba(0,0,0,0.4);
}

/*MENÚ*/
.navbar{	
	text-align: center;
	margin:0 auto;
	background-color: #564544;
	margin-bottom: 0.5em;
}
.nav-link{
	color: #FFF;
	padding: 0.2em 0.2em;
	margin: 0.4em 0.5em;
	/*-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	background-color: #47BABD;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;*/		
}
.nav-link:hover:not(.disabled){
	/*-webkit-box-shadow: 0.2em 0.2em 0.5em 0 #000000;
	box-shadow: 0.2em 0.2em 0.5em 0 #000000;*/
	transition: background 0.35s ease-in-out;
	color: #3ea0a3;
}
.submenu{	
	background-color: #47BABD;
	padding: 0;
	margin-top: -0.5em;
}

/*CONTENIDO*/
#contenido{
	width: 100%;
	flex-flow: column;
}
#contenido img{
	width: 100%;
	max-width: 37.5em;
	margin: 0.2em auto;
	display: block;
}
#contenido p{
	margin-bottom: 3em;
}
.fotoenlace{
	padding: 0em;
}
.fotoenlace img{
	margin-top: 0em !important;
}
.titulo{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
	font-size: 2.5rem;
	font-weight: 100;
	line-height: 1.2;
	color: #47BABD;
	margin: 1em;

}

/*BANNER*/
.banner{
	margin: 1em;
}
.banner img{
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.3em 1.25em 0 rgba(0, 0, 0, 0.19);
}
.banner img:hover, .fotoenlace img:hover:not(.noenlace), .formasdecontacto a:hover{	
	transition: opacity 0.35s ease-in-out;
	opacity: 0.5;
}

/*MÁS*/
.mas{
	color: #47BABD;
	margin: 1em !important;
}

/*SUBIR*/
.subir a{
	color:#01a2b9;
	text-decoration:underline;
}

.subir a:hover{
	text-decoration:none;
}

/*PRESENTACIÓN (TEXTO)*/
.presentacion{	
	color:#FFF;
	background-color: #47BABD;
	text-align: left;
	padding:2em;
	-webkit-box-shadow: 0px 10px 13px -7px #777, 5px 5px 5px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #777, 5px 5px 5px 5px rgba(0,0,0,0);
}
.presentacion p{
	margin:1em 0em;
}
.formasdecontacto{	
	margin:1em 0em;
}

/*VOLVER*/
.volver{
	margin: 2em;
}

/*PIE*/
footer{
	margin: 2em 0em;
}